<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="the.pdfviewerx"
	android:installLocation="auto"
	android:versionCode="6"
	android:versionName="1.2" >

	<uses-sdk
		android:minSdkVersion="11"
		android:targetSdkVersion="16" />

	<uses-feature
		android:glEsVersion="0x00010001"
		android:required="true" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name="the.pdfviewerx.EbApp"
		android:icon="@drawable/logo"
		android:label="apdfReader"
		android:largeHeap="true"
		android:theme="@android:style/Theme.Holo.Light" >
		<activity
			android:name="the.pdfviewerx.PdfActivity"
			android:configChanges="orientation|keyboardHidden" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:mimeType="application/pdf" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="*" />
				<data android:scheme="file" />
				<data android:scheme="smb" />
				<data android:scheme="content" />
				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:mimeType="*/*" />
				<data android:pathPattern=".*\\.pdf" />
			</intent-filter>
		</activity>
		<activity
			android:name="the.pdfviewerx.PdflistActivity"
			android:configChanges="keyboardHidden|orientation"
			android:label="apdfReader" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>